@import url("common.css");


/* header */
header {
    background: rgba(0,0,0,0.3);
    height: 100px;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
}
.inner-header {
    width: 84%;
    /*background: skyblue;*/
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.inner-header .logo {
    /*background: red;*/
    width: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-header .logo img {
    /*background: peachpuff;*/
    width: 100%;
}
.inner-header .gnb {
    /*background: blue;*/
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.inner-header .gnb ul {
    /*background: green;*/
    display: flex;
}
.inner-header .gnb ul li {
    margin-right: 60px;
}
.inner-header .gnb ul li a:hover {
    color: orange;
}
.inner-header .tnb {
    /*background: violet;*/
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.inner-header .tnb ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
}
.inner-header .tnb ul li {
    margin-right: 20px;
}
.inner-header .tnb ul li .fas {
    margin-right: 5px;
}
.inner-header .tnb ul li .far {
    margin-right: 5px;
}
.inner-header .tnb ul li .fa-search {
    margin-left: 5px;
}
.inner-header .tnb ul li:last-child a {
    display: block;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 10px;
}
.inner-header .tnb ul li:last-child a:hover {
    color: orange;
    background: #fff;
}
.inner-header .gnb-mobile {
    display: none;
}


/* section main */
.main {
    width: 100%;
    height: 100vh;
    background: url("https://kokokaki.github.io/img/vis_4.jpg")
        no-repeat center/cover fixed;
}
.main .main-title {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main .main-title .en {
    width: 50%;
    font-size: 52px;
    color: #fff;
    text-align: center;
    text-shadow: 3px 3px 7px #111;
}
.main .main-title p {
    font-size: 24px;
    color: #fff;
    margin: 20px 0;
    text-shadow: 3px 3px 10px #111;
}
.main .main-title .view {
    display: block;
    font-size: 15px;
    border: 1px solid #fff;
    width: 180px;
    margin: 0 auto;
    padding: 8px 0;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
}
.main .main-title .view::before {
    content: '';
    width: 0;
    height: 100%;
    background: rgba(255,255,255,0.6);
    position: absolute;
    left: 0;
    top: 0;

    transition: 0.7s;
}
.main .main-title .view:hover::before {
    width: 100%;
}

























