@import url("common.css");

nav {
    background-color: #bebbbb;
    width: 500px;
    margin: 10px auto;
}
ul {
    padding: 20px 0 20px 20px;
}
li {
    margin: 26px 0;
    padding: 10px 0;
}
a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 5px;
}
a:hover {
    color: #eaea6b;
    background-color: #87ceeb;
}
