@import url("../../css-study/5-box-model/common.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body {
    font-size: 17px;
    font-family: "Noto Sans KR", sans-serif;
}

/* header style */
header {
    /*background: tomato;*/
    /*border: 4px solid green;*/
    position: fixed;
    top: 0;
    z-index: 1000;
    /* 가로를 수동으로 돌려놔야함. */
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 50px;
    color: #fff;
    /* 폰트 속성, opacity만 상속되므로 부모
     에만 색, 선굵기 넣어줬음 */
    font-weight: 700;
}
header .logo {
    /*border: 3px solid yellow;*/
    /*flex 쓰려면 부모가 flex여야함*/
    flex: 1;
}
header .logo img {
    height: 60px;
}
header .intro {
    /*border: 3px solid blue;*/
    flex: 4;
    margin-left: 30px;
}
header .menu-open {
    /*border: 3px solid orange;*/
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}
header .menu-open .menu-txt {
    font-size: 20px;
    margin-right: 15px;
}
header .menu-open .bar-icon {
    font-size: 33px;
}
header .gnb {
    background: #000;
    color: #666;
    font-size: 40px;
    padding: 70px 100px;

    position: fixed;
    right: -100%;
    top: 0;
    /* 화면 세로 전체를 가짐 */
    height: 100vh;

    display: flex;
    flex-direction: row-reverse;

    transition: 0.6s;
}
header .gnb.on {
    right: 0;
}
header .gnb .close {
    /*border: 3px solid yellow;*/
    color: #fff;
    /* flex-direction: row-reverse;로
    표현 가능 */
    /*order:1;*/
}
header .gnb ul {
    /*border: 3px solid aqua;*/
    margin-right: 200px;
}

header .gnb ul li {
    font-weight: 700;
    margin-bottom: 25px;
}
header .gnb ul li:hover {
    color: #fff;
}

/* section visual style */
section.visual {
    background: url("https://i.namu.wiki/i/RtdS1ABpf1-whE8QqStVpLpNvKGa71BNHE0Emo_LEjapUu38lFuBZDcd7yzxdJhDfiTHYpns9XZCmwMBlZHKEg.webp")
                no-repeat center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
}
section.visual .overlay {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;

    /*바뀌는건 없지만 안정적으로 만들음*/
    left: 0;
    top: 0;
}
section.visual .txt {
    /*background: red;*/
    color: #fff;
    font-size: 18px;
    margin-left: 10%;
    text-shadow: 3px 3px 5px #000;
    z-index: 20;
}
section.visual .txt h3 {
    margin: 30px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.3;
}
main {
    background: #1b1b1b;
    color: #fff;
    padding: 120px 0;
}

/* main-text style */
main .main-text {
    /*background: orange;*/
    width: 80%;
    margin: 0 auto 100px;
    /*메인에 패딩을 주면 메인의 다른 영역까지
    들어가므로 부적절*/
    font-size: 27px;
    display: flex;
    position: relative;
}

/*
    소스코드에는 나타나지 않는 가상의 자식요소
    before: 가상의 첫째자식
    after: 가상의 막내자식

    필수 속성: content 속성과 display 속성이 필요함
*/
/* main-text의 첫째자식이 마치 생긴 것처럼 나타남 */
main .main-text::before {
    /* <div>안녕</div> = content: '안녕';*/
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    background: #ffec03;
    border-radius: 50%;
    position: absolute;
    /* absolute를 해도 부모한테 position이 안 되어있다면 화면
    기준으로 움직이기 때문에, 부모한테 줘야하고, 뭐 따로 없다면
    부모에게 relative를 주면된다.*/
    top: 100px;
    left: 70px;
}
main .main-text::after {
    content: '”';
    font-size: 300px;
    position: absolute;
    top: 100px;
    left: 0;
}

main .main-text h3 {
    /*border: 4px solid red;*/
    flex: 1;
    font-weight: 700;
}
main .main-text p {
    /*border: 4px solid blue;*/
    flex: 2;
    font-size: 25px;
    line-height: 1.4;
}
main .main-text p span {
    display: block;
    margin-top: 30px;
    color: #999;
    font-size: 22px;
}

/* project style */
main .project {
    /*background: tomato;*/
    margin-top: 200px;
    margin-bottom: 60px;

}
main .project .top {
    /*border: 4px solid blue;*/
    width: 80%;
    /* width 80%를 통해 위의 요소들과 균일성을 맞춰줌,
     밑의 ul은 100%임.*/
    margin: 0 auto 60px;
    display: flex;
    justify-content: space-between;
}
main .project .top h3 {
    /*background: aqua;*/
    font-size: 38px;
    font-weight: 700;
}
main .project .top a {
    /*background: violet;*/
    font-size: 20px;
}
main .project .bottom {
    /*border: 4px solid green;*/
    display: flex;
    justify-content: space-evenly;
}
main .project .bottom li {
    border: 4px solid #fff;
    width: 24%;
    height: 400px;
    overflow: hidden;
    position: relative;
}
main .project .bottom li a::before {
    content: '';
    /*display: block;*/
    /*width: 100%;*/
    width: 0;
    height: 100%;
    background: rgba(0,0,0,0.6);
    /* absolute가 걸리면 display: block;이 자동으로 걸림,
     생략 가능해진다.*/
    position: absolute;
    left: 0;
    top: 0;
    /*가로 길이를 처음에 0으로 만들었다가, 애니메이션을 통해서*/
    /*100%로 만든다.*/

    /* 트랜지션은 하버에 걸면 안되고, 원본에 걸어야 함. */
    transition: 0.7s;
}
main .project .bottom li a:hover::before {
    width: 100%;
}
main .project .bottom li a img {
    width: 100%;
}
main .project .bottom li a .name {
    position: absolute;
    right: 10px;
    bottom: 10px;

    background: #1b1b1b;
    font-size: 24px;
    text-align: right;
    width: 250px;
    padding: 15px;

    /* 처음엔 안 나와야하기 때문에 opacity: 0;*/
    opacity: 0;
}
main .project .bottom li a:hover .name {
    animation: show-name 1s both;
}
@keyframes show-name {
    from {
        opacity: 0;
        bottom: -30px;
    }
    to {
        opacity: 1;
        bottom: 10px;
    }
}

/* partners style */
main .partners {
    /*background: orange;*/
    width: 80%;
    margin: 170px auto 100px;
}
main .partners h3 {
    font-size: 19px;
    margin-bottom: 80px;
}
main .partners ul {
    /*border: 4px solid greenyellow;*/
    display: flex;
    flex-wrap: wrap;
}
main .partners ul li {
    /*background: orangered;*/
    /*border: 3px solid skyblue;*/
    /*
        한 줄에 4개씩 할당하기 위해 25%, flex-wrap이
        no-wrap으로 되어있기 때문에 wrap으로 바꿔줌
    */
    width: 25%;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .partners ul li img {
    opacity: 0.3;
    transition: 0.4s;
}
main .partners ul li img:hover {
    opacity: 1;
}

/* contact style */
main .contact {
    width: 90%;
    background: url("../img/contact.jpg")
        no-repeat center/cover fixed;
    /* height를 설정하고 추후에 세로 정렬을 할
     수 있겠지만, 패딩만 지정하면 세로 정렬이
     자동 정렬된다.*/
    padding: 220px 0;
}
main .contact .inner {
    background: orange;
    width: 70%;
    margin: 0 auto;
    font-size: 19px;
    line-height: 1.4;
}
main .contact .inner .tel {
    font-size: 58px;
    font-weight: 700;
    margin: 50px 0;
}




















